extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		section.slider-section
			.container
				h2.section-title второй блок
				
				.slider-wrap
					.bracket.bracket_left
					.bracket.bracket_right
					.main-slider.js-main-slider
						.slide
							.card
								.card__content
									.card__info
										span.card__surname лоремова
										span.card__name ипсума анатольевна
										span.card__subtitle lorem ipsum dolor
										span.card__hide-btn Скрыть
										ul.card__skills
											li lorem ipsum dolor lorem ipsum dolor 
											li lorem ipsum dolor 
											li lorem ipsum dolor lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem
											li lorem ipsum dolor 
											li.mob-none lorem ipsum dolor
											li.mob-none lorem ipsum dolor
										.card__description
											span lorem ipsum dolor
											p lorem ipsum dolorlorem ipsum dolor lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor
										.card__description
											span lorem ipsum dolor
											p lorem ipsum dolor lorem ipsum dolor
									.card__img
										img(src="images/card1.jpg", alt="")
						.slide
							.card
								.card__content
									.card__info
										span.card__surname лоремова
										span.card__name ипсума анатольевна
										span.card__subtitle lorem ipsum dolor
										span.card__hide-btn Скрыть
										ul.card__skills
											li lorem ipsum dolor lorem ipsum dolor 
											li lorem ipsum dolor 
											li lorem ipsum dolor lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem
											li lorem ipsum dolor 
											li.mob-none lorem ipsum dolor
											li.mob-none lorem ipsum dolor
										.card__description
											span lorem ipsum dolor
											p lorem ipsum dolorlorem ipsum dolor lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor
										.card__description
											span lorem ipsum dolor
											p lorem ipsum dolor lorem ipsum dolor
									.card__img
										img(src="images/card1.jpg", alt="")
						.slide
							.card
								.card__content
									.card__info
										span.card__surname лоремова
										span.card__name ипсума анатольевна
										span.card__subtitle lorem ipsum dolor
										span.card__hide-btn Скрыть
										ul.card__skills
											li lorem ipsum dolor lorem ipsum dolor 
											li lorem ipsum dolor 
											li lorem ipsum dolor lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem
											li lorem ipsum dolor 
											li.mob-none lorem ipsum dolor
											li.mob-none lorem ipsum dolor
										.card__description
											span lorem ipsum dolor
											p lorem ipsum dolorlorem ipsum dolor lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor
										.card__description
											span lorem ipsum dolor
											p lorem ipsum dolor lorem ipsum dolor
									.card__img
										img(src="images/card1.jpg", alt="")
						.slide
							.card
								.card__content
									.card__info
										span.card__surname лоремова
										span.card__name ипсума анатольевна
										span.card__subtitle lorem ipsum dolor
										span.card__hide-btn Скрыть
										ul.card__skills
											li lorem ipsum dolor lorem ipsum dolor 
											li lorem ipsum dolor 
											li lorem ipsum dolor lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem
											li lorem ipsum dolor
											li.mob-none lorem ipsum dolor
											li.mob-none lorem ipsum dolor
										.card__description
											span lorem ipsum dolor
											p lorem ipsum dolorlorem ipsum dolor lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor
										.card__description
											span lorem ipsum dolor
											p lorem ipsum dolor lorem ipsum dolor
									.card__img
										img(src="images/card1.jpg", alt="")
						.slide
							.card
								.card__content
									.card__info
										span.card__surname лоремова
										span.card__name ипсума анатольевна
										span.card__subtitle lorem ipsum dolor
										span.card__hide-btn Скрыть
										ul.card__skills
											li lorem ipsum dolor lorem ipsum dolor 
											li lorem ipsum dolor 
											li lorem ipsum dolor lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem
											li lorem ipsum dolor
											li.mob-none lorem ipsum dolor
											li.mob-none lorem ipsum dolor
										.card__description
											span lorem ipsum dolor
											p lorem ipsum dolorlorem ipsum dolor lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor
										.card__description
											span lorem ipsum dolor
											p lorem ipsum dolor lorem ipsum dolor
									.card__img
										img(src="images/card1.jpg", alt="")

					.my-navigation
						button.btn-slide.prev
						.pagingInfo
						button.btn-slide.next

		section.partner-section
			.container
				h2.section-title третий блок
				.tabs.js-tabs
					ul.years.js-tab-btn
						li.active 2019
						li 2018
						li 2017
						li 2016
						li 2015
						li 2014
						li 2013
						li 2012
						li 2011

					.partner-wrap.js-tab-content.active
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner1.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet.
								p.partner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner2.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet.
								p.partner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner2.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner4.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet.
								p.partner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner1.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet.
								p.partner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner2.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet.
								p.partner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.	
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner3.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner4.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet.
								p.partner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.

					.partner-wrap.js-tab-content
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner1.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet.
								p.partner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner2.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet.
								p.partner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner2.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.

					.partner-wrap.js-tab-content
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner2.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet.
								p.partner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner1.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet.
								p.partner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner2.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.

					.partner-wrap.js-tab-content
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner2.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet.
								p.partner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner1.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet.
								p.partner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner2.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.

					.partner-wrap.js-tab-content
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner2.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet.
								p.partner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.

					.partner-wrap.js-tab-content
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner2.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet.
								p.partner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner1.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet.
								p.partner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.

					.partner-wrap.js-tab-content
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner2.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet.
								p.partner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner1.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet.
								p.partner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner2.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner1.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet.
								p.partner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner2.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.

					.partner-wrap.js-tab-content
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner2.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet.
								p.partner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
						

					.partner-wrap.js-tab-content
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner2.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet.
								p.partner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in nulla interdum felis placerat vulputate.
						.partner
							.partner__wrap
								.partner__img(style="background-image: url('images/partner2.jpg')")
								h3.partner__title Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.


block footer
	include ../blocks/footer/footer		