header.header
	img(src="images/header-bg.jpg", alt="").abs-bg
	
	.top-content
		.container
			a(href="#").logo
				img(src="images/logo.svg", alt="").logo-white
				img(src="images/logo-black.svg", alt="").logo-black
			a(href="tel:").tel 8 499 999 99 99
			a(href="#").soc.inst
				img(src="images/insta.svg", alt="")
			a(href="#").soc.vk
				img(src="images/vk.svg", alt="")
			
			.burger.js-burger
				span
				span

		nav.nav.js-nav
			a(href="tel:").tel 8 499 999 99 99
			ul.nav-list
				li
					a(href="#") пункт меню 1
				li
					a(href="#") пункт меню 2
				li
					a(href="#") пункт меню 3
				li
					a(href="#") пункт меню 4
				li
					a(href="#") пункт меню 5
			.soc-wrap
				a(href="#").soc.inst
					img(src="images/insta.svg", alt="")
				a(href="#").soc.vk
					img(src="images/vk.svg", alt="")
	.container
		.main-content
			h1.main-title lorem ipsum dolor sit amet
			h2.main-subtitle 
				mark lorem 
				| ipsum dolor sit amet

		.bot-content
			.award-wrap
				a(href="#").award
					.award__img
						img(src="images/award1.svg", alt="")
					.award__flag
						img(src="images/flag1.svg", alt="")
					span.award__name Lorem ipsum dol
				a(href="#").award
					.award__img
						img(src="images/award2.svg", alt="")
					.award__flag
						img(src="images/flag2.svg", alt="")
					span.award__name Lorem ipsum dol
				a(href="#").award
					.award__img
						img(src="images/award3.svg", alt="")
					.award__flag
						img(src="images/flag2.svg", alt="")
					span.award__name Lorem ipsum dol
				a(href="#").award
					.award__img
						img(src="images/award2.svg", alt="")
					.award__flag
						img(src="images/flag3.svg", alt="")
					span.award__name Lorem ipsum dol
			a(href="#").header-link lorem ipsum dolor